body{
    background-color:  #000000;
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    width: 100%;
}

header nav{
    display: flex;
    justify-content: space-around;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

header nav li {
    margin: 5px 15px;
    list-style: none;
}

header nav #logo a img{
    width: 200px;
}

nav ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 12px;
    transition: .3s;
}

header #hero{
    width: 100%;
    position: relative;
}
header #hero h1{
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 2px 0px  #ff0000;
    font-size: 60px;
}

header #hero img{
    width: 100%;
}
/* El efecto  hover es para una animacion visual */
nav ul li a:hover{ 
    background: #ffffff;
    color: #ff0000;
}
/* FINALIZA EL ESTILO DE HEADER */


/* INICIA MAIN */
main{
    width: 100%;
    position: relative;
}
main #welcome{
    background: #ffffff;
    width: 100%;
    
}
main #welcome .row{
    background: #ff0000;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space space-evenly;

}
main #welcome .row #contText{
    width: 40;
    padding: 50px 0;
}
main #welcome .row #conting{
    width: 40%;
    padding: 50px 0;
}
main #welcome .row #conting img{
    width: 500px;
    padding: 50% 0;
}




